<html>
  <p>A production-quality JMonkeyEngine 3.8 patch release with the following changes relative to 3.8.0-stable:</p>
  <ul>
        <li><a href="https://github.com/jMonkeyEngine/jmonkeyengine/commit/f6e646fad7a41183dc8d7820982a6d0fd08570f0"><tt>f6e646f</tt></a> : Adds a new test for PBR with InstanceNode</li>
        <li><a href="https://github.com/jMonkeyEngine/jmonkeyengine/commit/fcaf17f490ed9663dbe4690503c6011067f42ebc"><tt>fcaf17f</tt></a> : Fixes a bug that caused instancing to crash when used with PBRLighting.j3md</li>
  </ul>
</html>